:root{
    --grass: #9bcc50;
    --fire: #fd7d24;
    --water: #4592c4;
    --bug: #729f3f;
    --normal: #a4acaf;
    --ice: rgb(199, 248, 255);
    --dark: #707070;
    --fairy: #fdb9e9;
    --poison: #b97fc9;
    --ghost: #7b62a3;
    --rock: #a38c21;
    --ground: #ffff75;
    --steel: #9eb7b8;
    --dragon: #1524ff;
    --fighting: #d56723;
    --psychic: #f366b9;
    --flying: cyan;
    --electric: #eed535;
}

body{
    background-color: #fbf1f1;
}

.profile{
    font-family: 'Arial';
    justify-content: center;
}

.profile-cont{
    width: fit-content;
}

.profile-type{
    font-family: "Arial";
}

.welcomeMessage{
    background-color: white;
    border: 3px solid;
    border-radius: 10px;
    width: 50vw;
    margin: 3rem auto;
    padding: 1rem;
}

.welcomeMessage h1{
    text-align: center;
}